.main-container {
    min-height: 100vh; /* Ensures it covers the full viewport height */
    /* width: 100%; */
    /* padding: 0px 92px 0px 92px; */
    /* border: 0px 92px 0px 92px; */

    /* border-left: 92px; */
    /* border-right: 92px; */

    background: 
    /* White sub-background as a centered box */
    linear-gradient(#F8F8F8, #F8F8F8) bottom/100% 65% no-repeat,
    /* Dark background */
    #14213D;

    background: #F8F8F8;
}