.GroupsList-main-block-container {
    margin-top: -45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    padding: 0px 92px 32px 92px;
}

.GroupsList-main-left-container {
    display: flex;
    flex-direction: column;
    padding: 28px 32px;
    gap: 20px;
    border-radius: 17px;
    height: 615px;
    width: auto;
    background-color: white;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;
}

.GroupList-main-right-container {
    display: flex;
    flex-direction: column;
    padding: 28px 32px;
    gap: 20px;
    border-radius: 17px;
    height: 615px;
    width: auto;
    background-color: white;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;
}

.GroupList-button-create {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 15px;
    border-radius: 16px;
    border: 0;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #4CAF50;
}

.GroupList-search-input {
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 15px;
    border-radius: 16px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.GroupList-button-create:hover {
    background-color: #45A049;
    transform: translateY(-1px);
}

.GroupsList-left-title-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.GroupsList-main-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.GroupsList-description-title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.GroupsList-group-list-container {
    max-height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.GroupView-threads-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.GroupView-custom-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #BEC4CD;
    border-radius: 50%;
    position: relative;
    background-color: white;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
    z-index: 0;
}

.GroupList-subscribed-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.GroupList-subscribedonly {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f5f7;
    border: 2px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4CAF50;
}

input:focus+.slider {
    box-shadow: 0 0 1px #45A049;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}