.group-edit-main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    background-color: #F8F8F8;
    gap: 16px;
    box-sizing: border-box;
    margin-left: 92px;
    margin-right: 92px;
}

.group-edit-left-container {
    background-color: white;
    border-radius: 17px;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -45px;
    box-sizing: border-box;
    overflow: hidden; 
    gap: 20px;
    height: 100%;
    overflow-y: auto;   
    margin-bottom: 144px;
    flex-grow: 1;
}

.group-edit-left-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.group-edit-name,
.group-edit-description,
.group-edit-image {
  margin-bottom: 20px;
}

.group-edit-image {
  margin-bottom: 20px;
  text-align: center;
}


.group-edit-name label,
.group-edit-description label,
.group-edit-image label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.group-edit-image label {
  display: inline-block;
  background-color: #14213d; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.group-edit-image label:hover {
  filter: brightness(1.2);  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); 
}

.group-edit-image label:active {
  filter: brightness(0.9); 
  transform: scale(0.95); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}


.group-edit-name input,
.group-edit-description textarea {
  width: 100%; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.group-edit-description textarea {
    height: 100px;
    resize: none; 
  }
  
  .group-edit-image input[type="file"] {
    margin-top: 10px;
  }
  
  .group-edit-image-preview {
    margin-top: 10px;
    text-align: center;
  }
  
  .group-edit-image-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .group-edit-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.group-edit-right-container {
    flex: 0 0 40%; 
    background-color: white;
    border-radius: 17px;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -45px;
    box-sizing: border-box;
    overflow: hidden; 
    gap: 20px;
    max-height: 100vh;  
    height:100%;
    overflow-y: auto;   
    margin-bottom: 144px;
}

.group-edit-right-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.group-edit-save-button, .group-edit-discard-button {
    padding: 16px 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    border: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    color: white;
    width: 100%;
    cursor: pointer; 
   
}
.group-edit-save-button {
background-color: #4CAF50;
transition: background-color 0.3s ease, color 0.3s ease;
}

.group-edit-discard-button {
  background-color: #F44336;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.group-edit-discard-button:hover {
  background-color: #ff0800;
  transform: translateY(-1px);
}

.group-edit-save-button:hover {
    background-color: #4ff858;
    transform: translateY(-1px);
}

.group-edit-member-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 250px; 
  overflow-y: auto;
  border: 1px solid #ddd; 
  border-radius: 8px;
  padding: 10px; 
}

.group-edit-member-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  padding: 10px;
  margin: 5px 0;
}

.group-edit-member-left-side {
  display: flex;
  align-items: center;
}

.group-edit-member-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px; 
}

.group-edit-member-details p {
  margin: 0;
}

.group-edit-member-button {
  padding: 10px 20px;
  background-color: #00BCD4;
  color: #fff;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 14px;
}

.group-edit-member-button.moderator {
  background-color: #00BCD4;
}

.group-edit-member-button:hover {
  opacity: 0.8;
}

.group-edit-right-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.group-edit-delete-button {
  padding: 16px 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    border: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    color: white;
    width: 100%;
    cursor: pointer; 
}

.group-edit-delete-button {
  background-color: #f44336;
}

.group-edit-delete-button:hover {
  background-color: #d32f2f; 
}

.group-edit-search-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.group-edit-search {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  padding: 20px 15px;
  border-radius: 16px;
  width: 90%;
  border: 2px solid #D9D9D9;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}