.FeedPost-card-container {
    /* height: 549px; */
    /* width: 1012px; */
    /* min-width: 800px; */
    width: 100%;
    /* width: auto; */
    display: flex;
    padding: 28px 32px;
    /* position: absolute; */
    margin-top: -45px;

    border-radius: 17px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /* bottom: 100%; */

    transition: all 0.3ms ease-in-out;

    position: relative;  
    height: 577px;     

    gap: 8px;
    
    max-height: 577px;  /* Limit the height of the post */

    top: 0;                      /* Align all posts to the top */
    transition: all 0.3s ease;  /* Smooth transitions */
}

.FeedPost-card-main-container {
    position: absolute;
    display: flex;
    width: auto;
    height: max-content;
}

.FeedPost-card-header {
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 7px;
    padding: 8px 12px;
}

.FeedPost-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.FeedPost-card-fullname {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.FeedPost-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
    max-height: 100%;
    /* max-height: 350px; */
}

.FeedPost-card-name {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.FeedPost-content-text {
    font-size: 20px;
    font-weight: 400;
    color: #4D4D4D;
    overflow: scroll;
    height: 100%;
    max-height: 100%;
    padding: 0;
}

.FeedPost-tag-container {
    display: flex;
    gap: 8px;
}

.FeedPost-card-tags {
    font-size: 20px;
    font-weight: 400;
    color: #4D4D4D;
}

.FeedPost-card-hashtag {
    font-size: 20px;
    font-weight: 400;
    color: #4dd1e1;
}

.FeedPost-card-footer {
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.FeedPost-card-actions {
    display: flex;
    gap: 20px;
}

.FeedPost-card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* max-height: 100%; */
    height: 100%;
    overflow: hidden;
}

.feed-wrapper {
    display: flex;
    justify-content: flex-end;     
    align-items: center;         
    padding: 0px 92px;
    width: 100%;
    height: 100%; 
    box-sizing: border-box; 
    padding-bottom: 32px;

    position: relative;         /* Allows child posts to be positioned absolutely */

}
  
