.SummaryCards-container {
    display: grid;
    width: 1256px;
    height: 191px;
    grid-template-columns: 408px 408px 408px;
    column-gap: 16px;

    position: absolute;
    left: 92px;
    top: 313px;
}