.card-trans {
    background-color: white;
    border-radius: 17px;

    min-width: 590px;

    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

}

.card-transaction-top-container {
    width: 100%;
    display: flex;
    gap: 16px;
}

.card-category {
    background-color: white;
    border-radius: 17px;

    min-width: 400px;
    height: max-content;

    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

}

.card-buttons {
    background-color: white;
    border-radius: 17px;

    min-width: 400px;
    height: 100%;

    padding: 32px 24px;

    display: flex;
    flex-direction: row;
    gap: 32px;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

    justify-content: space-between;

}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.add-button {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 15px;
    /* margin-bottom: 15px; */
    border-radius: 7px;
    border: 0;
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.add-button:hover {
    background-color: #59d25d;
}

.card-title-container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 4px;
}

.card-title {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
}

.card-title-hint {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.card-input-title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.card-input-hint {
    margin-top: 2px;
    margin-bottom: 0;
    display: flex;
    justify-self: center;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.card-amount-container {
    min-width: 290px;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}

.card-date {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5)
}

.card-amount-button-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.card-input {
    border: 2px solid #d9d9d9;
    border-radius: 8px;

    padding: 12px 9px;
    height: 12px;

    width: 100%;

    color: #444444;
    font-weight: 500;
    font-family: 'Inter', sans-serif;

    -webkit-appearance: none;
    appearance: textfield;

    /* For Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    &::-moz-appearance {
        appearance: none;
    }
}

.card-input-date {
    border: 2px solid #d9d9d9;
    border-radius: 8px;

    padding: 12px 9px;
    height: 12px;

    width: auto;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444444;

}

.card-input-currency {
    /* border: 2px solid #d9d9d9;
    border-radius: 8px;

    padding: 12px 9px;
    height: 12px;

    width: 100%; */

    border: 2px solid #d9d9d9;
    border-radius: 8px;
    
    /* Set fixed height to 40px */
    height: 40px;
    
    /* Ensure padding fits within the box height */
    padding: 0 9px; /* Adjust padding for vertical alignment */
  
    /* Full width */
    width: 100%;
    
    /* Use Inter font */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444444;
    /* Font size and line height */
    font-size: 16px;
    line-height: 1.5;
  
    /* Ensure the padding and borders are included in the element's height */
    box-sizing: border-box;
    
    /* Optional: cursor style for better user experience */
    cursor: pointer;
}

.card-button {
    height: 40px;
    width: 40px;

    cursor: pointer;

    transition: opacity 0.1s ease-in-out; /* Smooth transition for fading */
    /* transition: fadeout 0.3s ease, fadein 0.3s ease; */
}

.card-button.fade-in {
    opacity: 1; /* Visible */
    animation: fadeIn 0.1s forwards; /* Fade-in animation */
}

.card-button.fade-out {
    opacity: 0; /* Hidden */
    animation: fadeOut 0.1s forwards; /* Fade-out animation */
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.card-amount-input-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    min-width: 180px;
}

.card-currency-date-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.card-category-container {
    display: flex;
    justify-content: space-between;
}

.card-input-category {
    border: 2px solid #d9d9d9;
    border-radius: 8px;

    padding: 12px 9px;
    height: 12px;

    width: 237px;

    color: #444444;
    font-weight: 500;
}

.card-amount-input-title-container-category {
    display: flex;
    flex-direction: column;
    gap: 8px;

    min-width: 180px;
}

.add-button-category {
    height: 40px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 15px;
    /* margin-bottom: 15px; */
    border-radius: 7px;
    border: 0;
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;

    width: 259px;
}

.add-button-category:hover {
    background-color: #59d25d;
}

.color-square {
    /* background-color: #14213d; */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    padding: 0;
    border: 0;
}

.picker-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.picker-text-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-buttons {
    background-color: #00bcd4;
    min-width: 175px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 8px 16px;
    border-radius: 12px;
    border: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50px; */
}

.blue-buttons:hover {
    background-color: #00d4f0;
}

.hitbox {
    -webkit-appearance: none; /* Remove default WebKit styling */
  -moz-appearance: none; /* Remove default Mozilla styling */
  appearance: none; /* Remove default appearance */
  width: 45px;
  height: 45px;
  border-radius: 7px;
  padding: 0;
  cursor: pointer;
  background-color: transparent; /* Start with no background */
  outline: none; /* Remove default focus outline */
  border: none;
}

/* Add border and fill color when user selects a color */
.hitbox::-webkit-color-swatch {
    border-radius: 7px;
  }
  
  .hitbox::-moz-color-swatch {
    border-radius: 7px;
  }

