.form-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.form-headertext {
    font-size: 60px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    color: white;
}

.form-input {
    height: 22px;
    min-width: 318px;
    width: 90%;
    background-color: #0F192E;
    box-shadow: inset 0px 0px 4px rgba(10, 16, 30, 0.2);
    padding: 14px 16px;
    margin: 0px;
    border-radius: 7px;
    border: none;
    box-sizing: inline-block;
    color: white;
}

.form-input::placeholder {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.2);
    padding: 14px auto 14px 16px;
    margin: 14px auto 14px 16px;
    border: 14px auto 14px 16px;
}

.form-input:focus {
    outline: none;
    border: 1px solid #00BCD4;
    padding: 13px 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.inputbtn-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.form-button-loginregister {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00BCD4;
    padding: 0;
    margin: 0;
    color: white;
    width: 152px;
    height: 50px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 7px;
    border-color: #00a0b4;
    cursor: pointer;
}

.form-button-text {
    font-weight: 800;
    font-size: 18px;
}

.form-registerbtn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form-notregistered {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
}

.form-create-account {
    color: rgba(0, 188, 212, 0.3);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgba(0, 188, 212, 0.3);
}

.form-goback {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.hint-required {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    font-style: italic;
}

.form-goback:visited {
    text-decoration-color: rgba(255, 255, 255, 0.2);
}