.ThreadDetail-main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.ThreadDetail-head-thread {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  
    background-color: white;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

    margin-top: -45px;
  
    border-radius: 17px;
    margin-right: 32px;
    margin-left: 32px;
    padding: 40px 36px;
    width: auto;
  }

.ThreadDetail-new-thread-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  
    background-color: white;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

    margin-top: -45px;
  
    border-radius: 17px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    padding: 40px 36px;
    width: auto;
}

.ThreadDetail-input-content {
    height: 200px;
    resize: none;
    overflow-y: auto; 
    width: 95%; 
  }
  
.ThreadDetail-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.ThreadDetail-description {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.ThreadDetail-title-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    overflow: scroll;
    width: 100%;
    max-width: 100%;
}
.ThreadDetail-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: cover;
    width: 223px;
    height: 143px;
    overflow: hidden;
    border-radius: 7px;
}

.ThreadDetail-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
.ThreadDetail-image-upload-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ThreadDetail-file-label {
    background-color: #00BCD4;
    color: white; 
    padding: 10px 50px;
    cursor: pointer;  
    border-radius: 10px;  
    text-align: center;  
    font-size: 16px; 
    min-width: 150px;  
    min-height: 40px;  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
  }
  
  .ThreadDetail-file-label:hover {
    background-color: #0366cf; 
  }
  
  .ThreadDetail-uploaded-file-name {
    margin-top: 10px; 
    font-size: 14px; 
    color: #555;  
    text-align: center;  
  }
  
.ThreadDetail-submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .ThreadDetail-submit-button {
    background-color: #2eb14d; 
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
    width: 95%;
  }
  
  .ThreadDetail-submit-button:hover {
    background-color: #218838; 
  }
  
  .ThreadDetail-submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  