.ThreadRoot-main-container {
    position: relative;

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  background-color: white;
  box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

  border-radius: 17px;

  padding: 40px 36px;
  width: auto;
}

.ThreadRoot-title {
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.ThreadRoot-description {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.ThreadRoot-title-description-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow: scroll;
    width: 100%;
    max-width: 100%;
}

.ThreadRoot-bottom-part-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.ThreadRoot-messages-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 12px;
    border: 2px solid #D9D9D9;

    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.ThreadRoot-messages-text {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.ThreadRoot-messages-count-icon-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.ThreadRoot-view-button-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    border-radius: 12px;
    border: 2px solid #D9D9D9;

    padding: 8px 12px;
    justify-content: center;

    cursor: pointer;
}

.ThreadRoot-messages-icon {
    width: 19px;
    height: 19px;
}

.ThreadRoot-messages-icon-arrow {
    height: 24px;
    width: 24px;
}

.ThreadRoot-bottom-part-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.ThreadRoot-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: cover;
    width: 223px;
    height: 143px;
    overflow: hidden;
    border-radius: 7px;
}

.ThreadRoot-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.ThreadRoot-messages-count {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}

.ThreadRoot-more-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;

    width: 30px;

    cursor: pointer;
}

.ThreadRoot-view-button-more-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;


    justify-content: center;

    cursor: pointer;
}

.ThreadRoot-modal {
    position: absolute;
    right: 200px;
    bottom: 15px;
    
    display: flex;
    
    flex-direction: column;
    gap: 16px;
    width: 200px;
    height: 100px;
    /* width: 100%; */


    background-color: white;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

    border-radius: 17px;

    padding: 40px 36px;
    /* width: auto; */
}


.ThreadRoot-modal-2 {
    position: absolute;
    right: 200px;
    bottom: 15px;
    
    display: flex;
    
    flex-direction: column;
    gap: 16px;
    width: 200px;
    height: 230px;
    /* width: 100%; */


    background-color: white;
    box-shadow: rgba(20, 33, 61, 0.1) 0px 4px 10px;

    border-radius: 17px;

    padding: 40px 36px;
    /* width: auto; */
}

.ThreadRoot-modal-button-delete {
    background-color: #F44336;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 15px;
    border-radius: 12px;
    border: 0;
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThreadRoot-modal-button-delete:hover {
    background-color: #D32F2F; 
    transform: scale(1.05); 
}


.ThreadRoot-modal-button-close {
    background-color: #607D8B; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 20px 15px;
    border-radius: 12px;
    border: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ThreadRoot-modal-button-close:hover {
    background-color: #455A64; 
    transform: scale(1.05); 
}