node_modules
*.pyc
__pycache__
*.pyo
*.pyd
*.env

*.log
*.swp
*.swo
.DS_Store
*.tmp
*.bak
*.old

frontend/build
frontend/.cache
backend/staticfiles
backend/mediafiles

.git
.gitignore
